html, body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

a:hover {
	text-decoration: none;
}

/*Navbar*/

nav {
		background-color: #466995 !important;
		color: #fff;
	  border: none !important;
}

nav .navbar-brand {
    font-family: 'Eagle Lake', cursive;
		color: #fff !important;
}

.navbar-nav > li > a {
    color: #fff !important;
}

nav li[class="active"] a{
		background: none !important;
		font-weight: bold !important;
}

/*Header*/

header {
		background: #fff url("../img/mountains-home-slice.jpg") center top/1366px auto no-repeat;
				background-attachment: fixed;
		margin-bottom: 50px;
		height: 300px;
		text-align: center;
}

.header-own h1 {
	margin-top: 80px;
	color: #466995;
	position:absolute;
	right:0;
	left:0;
}

/*Main*/

main img.portfolio{
		width:300px;
		height:200px !important;
}

main .thumbnail:hover {
	box-shadow: 0 0 10px 1px #ddd;
}

.caption p {
		text-align: center;
}


/*Partners*/

.partners h3{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}



/*Jumbotron*/

.jumbotron {
	background-color: #DBE9EE;
	color: #466995;
	margin: 30px 0;
}

.jumbotron img {
	border-radius: 100%;
}

.jumbotron p {
	padding: 0 20px;
}


/*Card*/

.w3-container.outer{
	margin-bottom: 90px;
}

.w3-container.one {
	background: #466995;
	color: #fff;
}

.w3-container.two {
	color: #466995;
}

.w3-container.two img {
	height: 70px;
	width: 70px;
}

.w3-card-4 {
	width: 400px;
	margin: auto;
}

.w3-btn-block {
	background-color: #DBE9EE;
	color: #466995;
}

/*Carousel*/

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner {
	margin: 0 0 50px 0;
}




/*Footer*/

footer {
	background: #466995;
	text-align: center;
}

footer a {
	color: rgb(255,255,255);
}

footer a:visited {
	color: #fff;
}

footer a:hover {
	color: #DBE9EE;
}

footer a:active {
	color: #DBE9EE;
}

footer .logo span{
	font-family: 'Eagle Lake', cursive;
}

footer p {
	line-height: 60px;
	margin:0;
}

footer ul{
	margin: auto;
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 15px 0;
	margin: 0 10px;
}

@media screen and (min-width: 992px) {
	footer .logo {
		text-align: left;
	}
	
	footer ul {
		text-align: right;
	}
}