/* * {
    border: dashed blue;
} */

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

/*Navbar*/

nav {
		background-color: rgba(200,200,200,.4) !important;
}

nav .navbar-brand {
    font-family: 'Eagle Lake', cursive;
}

nav li[class="active"] a{
		background: none !important;
		font-weight: bold !important;
}

/*Header*/

header {
		background: #fff url("../img/mountains-home-small.jpg") center top;
		margin-bottom: 50px;
}

section {
    height: 200px;
		text-align: center;
}


/*Main*/

main {
		
}

main img.portfolio {
		width:300;
		height:200;
}

.caption p {
		text-align: center;
}

/*Footer*/

footer {
    
}

@media screen and (min-device-width: 480px) {
		
		header {
				background: #fff url("../img/mountains-home.jpg") center top/1366px auto no-repeat;
		}
}

@media screen and (min-width: 1367px) {
		
		header {
				background: #fff url("../img/mountains-home.jpg") center top/1920px auto no-repeat;
		}
}